@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.searchResults {
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 10px;
}

.searchResults img {
	position: relative;
	margin-left: 0px;
}

.results {
	min-height: 30px;
	clear: both; 
	padding-bottom:80px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


@media (max-width: 600px) {
	body, #message { margin-top: 0; background: white; box-shadow: none; }
	body { border-top: 16px solid #ffa100; }
  }
  .avatar { width: 80px; height: 80px }